body{
  background-color:#fff6f1;
  font-family:"Helvetica", Arial;
}

h1{
  color:#1d2ad5;
}

a{
  color: #1d2ad5;
  font-weight: bold;
}

nav ul li{
  color: #1d2ad5;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}